{% extends 'base.html' %}

{% block content %}
    
<div class="container-admin-panel">
    <header>
        <h1>پنل ادمین</h1>
        <div class="user-info">
            <img src="user.png" alt="تصویر کاربر">
            <span>نام کاربر</span>
        </div>
    </header>
    <main>
        <section class="sidebar">
            <ul>
                <li><a href="#" class="active">داشبورد</a></li>
                <li><a href="#">کاربران</a></li>
                <li><a href="#">پست ها</a></li>
                <li><a href="#">تنظیمات</a></li>
            </ul>
        </section>
        <section class="content">
            <h2>عنوان بخش محتوا</h2>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
            <button class="btn">دکمه</button>
        </section>
        
{% endblock %}
