{% extends "base.html" %}

{% block title %}

ایجاد پست جدید

{% endblock %}

{% block content %}

<h1>ایجاد پست جدید</h1>

<form method="post" action="{{ url_for('admin_posts_create') }}">
    <input type="text" name="title" placeholder="عنوان" class="form-control">
    <textarea name="content" placeholder="محتوا" class="form-control"></textarea>
    <select name="status" class="form-control">
        <option value="draft">پیش نویس</option>
        <option value="archived">بایگانی شد</option>
        <option value="published">منتشر شده</option>
        <option value="rejected">رد شده</option>
        
    </select>
    <button type="submit" class="btn btn-primary">ایجاد پست</button>
</form>

{% endblock %}