{% extends "base.html" %}

{% block title %}

ویرایش پروفایل

{% endblock %}

{% block content %}

<h1>ویرایش پروفایل</h1>

<form method="post" action="{{ url_for('admin_profile') }}">
    <input type="text" name="username" placeholder="نام کاربری" class="form-control" value="{{ current_user.username }}">
    <input type="email" name="email" placeholder="ایمیل" class="form-control" value="{{ current_user.email }}">
    <input type="password" name="password" placeholder="رمز عبور جدید" class="form-control">
    <button type="submit" class="btn btn-primary">ویرایش پروفایل</button>
</form>

{% endblock %}