{% extends "base.html" %}

{% block content %}

{% if post is defined %}

<h2>Edit/Delete Post</h2>
<div class="form-frame">

  <form method="POST" action="{{ url_for('admin_post', id=post.id) }}" class="edit-post-form">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <input type="hidden" name="_method" value="PUT">
    <div class="form-group">
      <label for="title" class="form-label">Title</label>
      {{ form.title(class="form-control", id="title") }}
    </div>
    <div class="form-group">
      <label for="content" class="form-label">Content</label>
      {{ form.content(class="form-control form-content", id="content") }}
    </div>
    <div class="form-group">
      <label for="status" class="form-label">Status</label>
      {{ form.status(class="form-control form-status", id="status") }}
    </div>
    <div class="form-group">
      <label for="category" class="form-label">Category</label>
      {{ form.category(class="form-control form-category", id="category") }}
    </div>
    <div class="form-group">
      <label for="link_image" class="form-label">Link Image</label>
      {{ form.link_image(class="form-control", id="link_image") }}  </div>
    <div class="form-group form-actions">
      <button type="submit" class="btn btn-primary">Edit Post</button>
    </div>
  </form>

  <form method="POST" action="{{ url_for('admin_post', id=post.id) }}">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="btn btn-danger">Delete Post</button>
  </form>

</div>

{% else %}
  <p>No post found with ID: {{ id }}</p>
{% endif %}

{% endblock %}
