{% extends "base.html" %}

{% block title %}

Home

{% endblock %}

{% block content %}

    <div class="container-home">
        <div class="personal-description">
            <div class="description-content">
                <div class="profile">                
                    <h1>Ali Ebrahimian</h1>
                    
                    <h3>Biomedical Engineering</h3>
                    
                    <p>I am a dedicated student of biomedical engineering, driven by a profound curiosity for the intersection of technology and the life sciences. With a fervent enthusiasm for innovation, I am deeply engaged in exploring the transformative potential of cutting-edge advancements in both computer science and biology.</p>
                </div>
                <div class="button-see-description">
                    <a href="#" class="button"><span class="text-button">See more ...</span></a>
                </div>
                    <div class="icon-social">
                    <a href="https://github.com/alie8096"><i class="fa-brands fa-github"></i></a>
                    <a href="https://instagram.com/ali.e.8096"><i class="fa-brands fa-instagram"></i></a>
                    <a href="http://t.me/ali_e_8096"><i class="fa-brands fa-telegram"></i></a>

                </div>
            </div>
            <div class="image-profile">
                <img src="../static/images/img_profile.jpg" alt="">
            </div>
        </div>

        <div class="categories-project-home">
            <h3 class="titre">Main Categories</h3>
            <div class="container-topics">
                <div class="category-item">
                    <i class="fas fa-code"></i>
                    <h4>Technology</h4>
                </div>
                <div class="category-item">
                    <i class="fas fa-graduation-cap"></i>
                    <h4>University</h4>
                </div>
            </div>
            
        <div class="github-infh3o">
            <h3 class="titre">GitHub Overview</h3>
            <div class="github-info">
                <div class="card-container">
                    <div class="language-github-card card">
                        <p><a href="https://github.com/alie8096/github-readme-stats"><img src="https://github-readme-stats.vercel.app/api/top-langs/?username=alie8096&layout=donut" alt="Top Langs" /></a></p>
                    </div>
                    <div class="info-github-card card">
                        <p><a href="https://github.com/alie8096/github-readme-stats#gh-dark-mode-only"><img src="https://github-readme-stats.vercel.app/api?username=alie8096&show_icons=true&theme=dark#gh-dark-mode-only" alt="Anurag's GitHub stats-Dark" class="img-git"/></a></p>
                    </div>
                </div>
            </div>
            
          </div>
          

        <!-- <div class="trusted-by">
            <h3 class="titre">Last Projects</h3>
            <img src="path/to/logo1.png" alt="Logo 1">
            <img src="path/to/logo2.png" alt="Logo 2">
            
            <div class="projects">
                <ul>
                    {% for post in posts %}
                    <li><a href="{{ url_for('post', id=post.id) }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div> -->

        <div class="trusted-by">
            <h3 class="titre">Last Projects</h3>
            <div class="projects">
                <ul>
                    {% for post in posts %}
                    <li><a href="{{ url_for('post', id=post.id) }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        
    </div>
{% endblock %}
