{% extends "base.html" %}

{% block title %}

Home

{% endblock %}

{% block content %}

    <div class="container-home">
        <div class="personal-description">
            <div class="description-content">
                <div class="profile">                
                    <h1>Ali Ebrahimian</h1>
                    
                    <h3>Biomedical Engineering</h3>
                    
                    <p>I am currently pursuing my Bachelor's degree in Biomedical Engineering at Azad University in Shahrekord. As an individual with an ENTJ personality type, I am naturally drawn to leadership roles and enjoy taking charge of projects and teams. I have a strong interest in both management and programming, finding joy in organizing tasks efficiently and developing innovative solutions to complex problems.</p>
                </div>
                <div class="button-see-description">
                    <a href="{{ url_for('about_me')}}" class="button"><span class="text-button">See more ...</span></a>
                </div>
                    <div class="icon-social">
                    <a href="https://github.com/alie8096"><i class="fa-brands fa-github"></i></a>
                    <a href="https://instagram.com/ali.e.8096"><i class="fa-brands fa-instagram"></i></a>
                    <a href="http://t.me/ali_e_8096"><i class="fa-brands fa-telegram"></i></a>

                </div>
            </div>
            <div class="image-profile">
                <img src="../static/images/img_profile.jpg" alt="ali.e.8096">
            </div>
        </div>

        <div class="categories-project-home">
            <h3 class="titre">Main Categories</h3>
            <div class="container-topics">
                <div class="category-item">
                    <i class="fas fa-code"></i>
                    <h4>Technology</h4>
                </div>
                <div class="category-item">
                    <i class="fas fa-graduation-cap"></i>
                    <h4>University</h4>
                </div>
            </div>
            
        <div class="github-infh3o">
            <h3 class="titre">GitHub Overview</h3>
            <div class="github-info">
                <div class="card-container">
                    <div class="language-github-card card">
                        <img src="https://github-readme-stats.vercel.app/api/top-langs/?username=alie8096&theme=dracula&hide_border=true&include_all_commits=true&count_private=true&layout=compact" alt="Top Languages">
                    </div>
                    <div class="info-github-card card">
                        <img src="https://github-readme-stats.vercel.app/api?username=alie8096&theme=dracula&hide_border=true&include_all_commits=true&count_private=true&layout=compact" alt="GitHub Stats">
                    </div>
                </div>
            </div>
            
          </div>
        

          <div class="trusted-by">
            <h3 class="titre">Last Projects</h3>
            <div class="projects-home">
                {% for post in posts %}
                    <div class="project">
                        <img src="{{ post.link }}" alt="post.title" class="featuring-image">
                        <h4>
                            <a href="{{ url_for('post', id=post.id) }}">{{ post.title }}</a>
                        </h4>
                    </div>
                    {% if loop.index0 % 3 == 2 or loop.last %}
                        </div>
                        <div class="projects-home"> {% endif %}
                {% endfor %}
            </div>
        </div>
        
        
        
    </div>
{% endblock %}
