{% extends 'base.html' %}

{% block navbar %}
    <header>     
        <div class="navbar">
            <div class="navbar-left">
                <div class="navbar-logo">
                    <img src="../static/images/small-logo.svg" alt="Ali Ebrahimian">
                </div>
                <ul class="navbar-links">
                    <li><a href="{{ url_for('aboutـme') }}">About Me</a></li>
                    <li><a href="{{ url_for('projects') }}">Projects</a></li>
                </ul>
            </div>
            <div class="navbar-right">
                {% if user_logged_in %}
                <a href="{{ url_for('logout') }}" class="btn btn-primary">Logout</a>
                <a href="{{ url_for('admin_panel') }}" class="btn btn-secondary">Admin Dashboard</a>
                {% endif %}
            </div>
        </div>
    </header>
{% endblock %}
