# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local configuration file
instance/

# Log files
*.log

# Backup files
*~

# Compiled Python files
*.pyc

# macOS
.DS_Store

# Virtual environment
venv/

# IDE specific files
.idea/
.vscode/

# Web map
tree_map.txt

# sample 
sample.py

# config
*.env


# Temporarry override لغو موقت
#  برا کلاس یوزر در امنیت بیشت برای قسمتی که کامنت شده اگر استفاده شد از گیت اگنور خارج میشه در غیر این صورت باید حذف شود
utils.py