@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Noto+Naskh+Arabic:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

/* :root {
    --primary-color: #187bcd;
    --secondary-color: #d654d6;
    --accent-color: #22a836;
} */

body {
    font-family: "Noto Naskh Arabic", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 2%;
    padding: 0;
    color: aliceblue;
    background-color: #1d1d1d;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: #187bcd;
}

a:hover {
    color: #0e5a8a;   
}

.button {
    background-color: #08a110;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 18px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #22a836;
    border-radius: 20px;
}

.text-button {
    color: #fff;
}

/* -------------- Home ------------------ */
.container-home {
    align-items: center;
    justify-content: center;
}

.personal-description {
    display: flex;
    margin: 2%;
    padding: 1%;
    overflow-y: auto;
}

.description-content {
    flex: 1;
    padding: 2%;
}

.image-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
}

.image-profile img {
    max-width: 100%;
    border-radius: 50%;
    /* height: auto; */
    max-height: 400px;
    margin: auto;
    margin-top: 20px;
}

.icon-social {
    margin: 15px 20px 15px 0;
    font-size: 30px;
}

.icon-social a {
    padding: 10px;
}

.button-see-description {
    margin-top: 60px;
    margin-bottom: 30px;
}

/* -------------------------- Home/Activity-Topics---------------------------- */

.titre {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    position: relative;
    font-size: 24px;
}

.titre::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.titre::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #764bd4;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.titre:hover::after {
    transform: scaleX(1);
}
.container-topics {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px rgb(136, 136, 136, 0.3);
    border-radius: 15px;
}

/* New Sections for Categories and Trusted By */
.categories-project-home,
.trusted-by {
  margin-bottom: 20px;
}

.category-item {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border-bottom: 2px solid #ddd;
}

.category-item i {
    margin-right: 10px;
}


.github-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px auto;
    border: 1px solid #474747;
    border-radius: 15px;
    overflow: hidden;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    flex: 1 1 200px;
    height: 250px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}


.trusted-by {
    margin: 20px auto; /* Add some margin for spacing */
    text-align: center; /* Center the title */
  }
  
  .titre {
    font-size: 1.5rem; /* Adjust title font size */
    margin-bottom: 10px; /* Add spacing below title */
  }
  
  .projects-home {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns of equal width */
    gap: 15px; /* Spacing between projects */
    margin: 20px 0px;
  }
  
  .project {
    /* background-color: #fff; */
    border: 1px solid #474747;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius:10px; /* Rounded corners for projects */
    text-align: center;
  }
  
  .featuring-image {
    width: auto; /* Images span the full project width */
    height: 150px; /* Adjust image height as needed */
    border-radius: 15px;
    /* object-fit: cover; */
    margin-bottom: 10px; /* Add spacing below image */
  }
  
  .project a {
    color: #747474;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    padding: auto;
    transition: color 0.2s ease-in-out;
  }
  
  .project a:hover {
    color: #59399c; /* Change text color on hover */
  }
  

/* ---------------- Admin-panel------------------------- */
/* استایل کلی */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* استایل container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* استایل header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* استایل main */
main {
    /* display: flex; */
    flex-grow: 1;
}

/* استایل sidebar */
.sidebar {
    width: 20%;
    background-color: #f5f5f5;
    padding: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar ul li a:hover {
    color: #000;
}

/* استایل content */
.content {
    width: 80%;
    padding: 10px;
}

.content h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.content p {
    margin-bottom: 10px;
}

.content button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

/* استایل های اضافی */

.sidebar ul li a.active {
    background-color: #ccc;
    color: #000;
}

.content h2 {
    color: #333;
}

.content p {
    text-align: justify;
}

.btn:hover {
    background-color: #666;
}

/* --------------------------- Create New Post -------------------------- */
.projects {
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
  }
  
  .projects ul {
    list-style: none;
    padding: 0;
  }
  
  .projects ul li {
    margin-bottom: 10px;
  }
  
  .projects ul li a {
    color: #7a7a7a;
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    padding-top: 10px;
    transition: color 0.3s ease;
  }
  
  .projects ul li a:hover {
    color: #764bd4;
  }
  
  .posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .post-box {
    width: calc(33.33% - 20px);
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .post-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .post-box p {
    margin: 5px 0;
  }

  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
  }
  
  .create-post-form {
    display: flex;
    flex-direction: column;
    width: 600px; /* Adjust width as needed */
    margin: 0 auto; /* Center the form */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

.form-frame {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 15px;
    margin: 30px 0px;
}
  
  .form-control {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-content {
    min-height: 200px;
    max-width: 100%;
    min-width: 100%;
  }
  
  .form-status,
  .form-category {
    width: max-content;
  }
  
/* Button and link styling */
.btn-primary,
.btn-danger,
a.btn {  
  display: inline-block; 
  background-color: #187bcd;
  color: #fff;
  border: none;
  width: 120px;
  max-height: 30px;
  padding: 10px 20px;  
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none; 
  text-align: center; 
  line-height: 1; 
  font-family: Arial, sans-serif; /* Set a consistent font family */
}

.btn-primary:hover,
.btn-danger:hover,
a.btn:hover {
  color: #fff;
  background-color: #0e5a8a; 
}

/* Delete button styling (optional, can be removed) */
.btn-danger,
a.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover,
a.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}


  

/* ------------ Login Page --------------------- */

.login {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    position: relative;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8));
}

.login h1 {
    margin: 20px;
}

.login:before, .login:after, .login .small-circle,
.login-card:before, .login-card:after, .login-card .small-circle {
    content: "";
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

.login:before {
    top: 20px;
    left: 54%;
    width: 150px;
    height: 150px;
    background-image: radial-gradient(circle at center, rgba(239, 113, 243, 0.8), rgba(239, 113, 243, 0.3));
    animation: moveCircle 7s linear infinite alternate;
}

.login:after {
    bottom: -110px;
    right: 55%;
    width: 160px;
    height: 160px;
    background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    animation: moveCircle 8s linear infinite alternate;
}

.login-card:before {
    top: 100px;
    left: 85%;
    width: 100px;
    height: 100px;
    background-image: radial-gradient(circle at center, rgba(177, 247, 200, 0.849), rgba(204, 255, 190, 0.685));
    animation: moveCircle 7s linear infinite alternate;
}

.login-card:after {
    bottom: -110px;
    right: 55%;
    width: 88px;
    height: 88px;
    background-image: linear-gradient(to right, rgba(12, 252, 252, 0.7), rgba(111, 0, 255, 0.6));
    animation: moveCircle 8s linear infinite alternate;
}

.login .small-circle, .login-card .small-circle {
    width: 50px;
    height: 50px;
    background-image: radial-gradient(circle at center, rgba(105, 128, 255, 0.8),rgba(60, 89, 253, 0.4));
}

.login .small-circle:nth-child(1) {
    top: 80px;
    left: 50%;
    animation: scaleCircle 5s linear infinite alternate;
}

.login .small-circle:nth-child(2) {
    bottom: 120px;
    right: 30%;
    animation: rotateCircle 6s linear infinite alternate;
}

.login-card .small-circle:nth-child(1) {
    top: 80px;
    left: 35%;
    animation: scaleCircle 5s linear infinite alternate;
}

.login-card .small-circle:nth-child(2) {
    bottom: 120px;
    right: 30%;
    animation: fadeCircle 6s linear infinite alternate;
}

@keyframes moveCircle {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(20px, 20px);
    }
}

@keyframes scaleCircle {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(2.5);
    }
}

@keyframes rotateCircle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeCircle {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.login-card {
    position: relative;
    width: 352px;
    min-height: 40vh;
    height: auto;
    border: 1px #ffffff;
    border-radius: 15px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8));
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    padding: 20px 50px;
}


.login-card form {
    width: 100%;
}

.login-card .form-control {
    width: calc(100% - 40px);
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
}

.login-card input[type="checkbox"] {
    margin-top: 15px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin: 15px;
}

.remember-me input[type="checkbox"] {
    margin: 0;
    width: 20px;
    height: 20px;
    appearance: none;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.remember-me input[type="checkbox"]:checked {
    background-color: #764bd4;
    border-color: #764bd4;
}

.remember-me label {
    margin-left: 10px;
    font-size: 14px;
    color: #777;
    user-select: none;
}

.remember-me button {
    margin-left: 10px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    color: #777;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.remember-me button:hover {
    background-color: #f7f7f7;
}
  
.login-card button {
    width: calc(100% - 40px);
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #764bd4;
    color: #fff;
    cursor: pointer;
    margin: 20px 0;
}

.login-card button:hover {
    background-color: #59399c;
}



/* ------------------------ Footer ---------------------- */

footer {
    background-image: linear-gradient(to right, #f79c48, #ffc456, #f79c48);
    background-size: 65%;
    animation: gradient 5s infinite;
    text-align: center;
    width: 100%;
    /* align-items: center;
    justify-content: center; */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

footer .copyright-text {
    /* text-align: center; */
    margin: 10px 0;

    font-size: 14px;
    color: #1d1d1d;
}

/* ------------------- page 404 ----------------- */
.container-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 92vh;
}

.error-code {
    font-size: 200px;
    font-weight: bold;
    color: #ff6347;
    background-image: linear-gradient(to right, #ff6347, #f79c48, #f79c48, #ff6347);
    animation: gradient 5s infinite;
    background-size: 65%;
    background-clip: text;
    color: transparent;
}


.error-message {
    display: inline-block;
    margin-top: 30px;
    padding: 5px;
    font-size: 40px;
    font-weight: bold;
    color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.back-to-home {
    margin-top: 30px;
    color: #f5f5f5;
}

.back-to-home:hover{
    color: #f5f5f5;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* ------------------ About Me --------------- */

.container-about {
    text-align: center;
    margin-bottom: 50px;
}

.profile-picture {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.content-section {
    margin-bottom: 20px;
}

.content-section p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    color: #777676;
    margin-bottom: 20px;
}

.social-link {
    font-size: 20px;
    color: #555;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.social-link:hover {
    color: #187bcd;
}

.contact-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact-list li {
    margin-right: 20px;
}

.contact-list li a {
    color: #555;
    font-size: 24px;
    transition: color 0.3s ease;
}

.contact-list li a:hover {
    color: #187bcd;
}

/* Table styling */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #f5f5f5;
    text-align: center;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #f8f9fa;
  }
  
  .table tbody + tbody {
    border-top: 2px solid #dee2e6;
  }
  
  .table-bordered {
    border: 1px solid #dee2e6;
  }
  
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6;
  }
  
  .table-bordered thead th,
  .table-bordered thead td {
    border-bottom-width: 2px;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }
  
  .table-primary,
  .table-primary > th,
  .table-primary > td {
    background-color: #b8daff;
  }
  
  .table-primary th,
  .table-primary td,
  .table-primary thead th,
  .table-primary tbody + tbody {
    border-color: #7abaff;
  }
  
  .table-hover .table-primary:hover {
    background-color: #9fcdff;
  }
  
  .table-hover .table-primary:hover > td,
  .table-hover .table-primary:hover > th {
    background-color: #9fcdff;
  }
  
  .table-secondary,
  .table-secondary > th,
  .table-secondary > td {
    background-color: #d6d8db;
  }
  
  .table-secondary th,
  .table-secondary td,
  .table-secondary thead th,
  .table-secondary tbody + tbody {
    border-color: #b3b7bb;
  }
  
  .table-hover .table-secondary:hover {
    background-color: #c8cbcf;
  }
  
  .table-hover .table-secondary:hover > td,
  .table-hover .table-secondary:hover > th {
    background-color: #c8cbcf;
  }
  
  .table-success,
  .table-success > th,
  .table-success > td {
    background-color: #c3e6cb;
  }
  
  .table-success th,
  .table-success td,
  .table-success thead th,
  .table-success tbody + tbody {
    border-color: #8fd19e;
  }
  
  .table-hover .table-success:hover {
    background-color: #b1dfbb;
  }
  
  .table-hover .table-success:hover > td,
  .table-hover .table-success:hover > th {
    background-color: #b1dfbb;
  }
  
  .table-info,
  .table-info > th,
  .table-info > td {
    background-color: #bee5eb;
  }
  
  .table-info th,
  .table-info td,
  .table-info thead th,
  .table-info tbody + tbody {
    border-color: #86cfda;
  }
  
  .table-hover .table-info:hover {
    background-color: #abdde5;
  }
  
  .table-hover .table-info:hover > td,
  .table-hover .table-info:hover > th {
    background-color: #abdde5;
  }
  
  .table-warning,
  .table-warning > th,
  .table-warning > td {
    background-color: #ffeeba;
  }
  
  .table-warning th,
  .table-warning td,
  .table-warning thead th,
  .table-warning tbody + tbody {
    border-color: #ffdf7e;
  }
  
  .table-hover .table-warning:hover {
    background-color: #ffe8a1;
  }
  
  .table-hover .table-warning:hover > td,
  .table-hover .table-warning:hover > th {
    background-color: #ffe8a1;
  }
  
  .table-danger,
  .table-danger > th,
  .table-danger > td {
    background-color: #f5c6cb;
  }
  
  .table-danger th,
  .table-danger td,
  .table-danger thead th,
  .table-danger tbody + tbody {
    border-color: #ed969e;
  }
  
  .table-hover .table-danger:hover {
    background-color: #f1b0b7;
  }
  
  .table-hover .table-danger:hover > td,
  .table-hover .table-danger:hover > th {
    background-color: #f1b0b7;
  }
  
  .table-light,
  .table-light > th,
  .table-light > td {
    background-color: #fdfdfe;
  }
  
  .table-light th,
  .table-light td,
  .table-light thead th,
  .table-light tbody + tbody {
    border-color: #fbfcfc;
  }
  
  .table-hover .table-light:hover {
    background-color: #ececf6;
  }
  
  .table-hover .table-light:hover > td,
  .table-hover .table-light:hover > th {
    background-color: #ececf6;
  }
  
  .table-dark,
  .table-dark > th,
  .table-dark > td {
    background-color: #c6c8ca;
  }
  
  .table-dark th,
  .table-dark td,
  .table-dark thead th,
  .table-dark tbody + tbody {
    border-color: #95999c;
  }
  
  .table-hover .table-dark:hover {
    background-color: #b9bbbe;
  }
  
  .table-hover .table-dark:hover > td,
  .table-hover .table-dark:hover > th {
    background-color: #b9bbbe;
  }
  
  .table-active,
  .table-active > th,
  .table-active > td {
    background-color: rgba(0, 0, 0, 0.075);
  }
  
  .table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }
  
  .table-hover .table-active:hover > td,
  .table-hover .table-active:hover > th {
    background-color: rgba(0, 0, 0, 0.075);
  }
  
  .table .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
  }
  
  .table .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }